<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189838799053-tkec7gejggdsagejgnom8ieh105tu5b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189838799053-tkec7gejggdsagejgnom8ieh105tu5b9</string>
	<key>API_KEY</key>
	<string>AIzaSyDdjIIWA6cAwA4WRKCsgpOiB9-4p8qaNiU</string>
	<key>GCM_SENDER_ID</key>
	<string>189838799053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>money-manager-f6c8f</string>
	<key>STORAGE_BUCKET</key>
	<string>money-manager-f6c8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189838799053:ios:36127ef04fdaf2b38c3984</string>
</dict>
</plist>